<div class="row" ng-controller="LoginCtrl">
<div class="logo">
            <img src="">
        </div>
<div class="heading">
            <p>Login</p>
        </div>
        <div class="inputs">
            <div class="input-username">
                <img src="assets/images/human.png" />
                <input type="text" placeholder="USERNAME" ng-model="account.name"/>
            </div>
            <div class="input-password">
                <img src="assets/images/human.png" />
                <input type="password" placeholder="PASSWORD" ng-model="account.password"/>
            </div>
        </div>
        <div class="buttons">
           <button ng-click="login()"><span><img src="assets/images/human.png" /></span><p>Sign In</p></button>
        </div>
        <div class="register-section">
            <a href="#">Or Register if you don't have account</a>
        </div>
 </div>       